* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color:hsl(174, 22%, 81%);
}

legend {
    background-color:rgb(255, 211, 211);
    color:rgb(255, 144, 144);
    width:20rem;
    border:0.2rem solid rgb(255, 149, 149);
    border-bottom:none;
    border-radius:1rem 1rem 0 0;
    padding:0.5rem;
    position:relative;
    bottom:1.5rem;
    right:0.15rem;
}

.container {
    display:flex;
    flex-direction:column;
    align-items:center;
}

fieldset {
    width:35rem;
    border:0.2rem solid rgb(255, 149, 149);
    background-color:rgb(255, 211, 211);
    height:10rem;
    margin-top:10rem;
    border-radius:0 1rem 1rem 1rem;
}

.choice-box {
    display: grid;
    grid-template-columns: repeat(2, 2.5rem);
    gap: 0.5em;
    align-items:center;
}

.radio-button {
    margin-left:2rem;
    margin-top:0.5rem;
    appearance:none;
    background-color:#e9e9e9;
    font:inherit;
    color:currentColor;
    width:1.15rem;
    height:1.15rem;
    border: 0.15em solid hsl(0, 95%, 75%);
    border-radius:50%;
    display:grid;
    position:relative;
    bottom:0.3rem;
    place-content:center;
}

.radio-button::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms all ease-in-out;
    box-shadow: inset 1em 1em hsl(0, 95%, 75%);
}

.radio-button:checked::before {
    transform:scale(1);
}

.radio-button:focus {
    outline: max(2px, 0.15rem) solid hsl(0, 95%, 75%);
    outline-offset: max(2px 0.15rem);
}

.radio-label {
    font-weight:600;
    margin-left:0.5rem;
    color:rgb(255, 117, 117);
    width:20rem;
} 

#submit-button {
    width:10rem;
    height:2.5rem;
    background-color:rgb(255, 99, 99);
    border:none;
    border-radius:0.5rem;
    margin-top:1rem;
    font-family: "Poppins", sans-serif;
    font-size:1rem;
    text-transform:uppercase;
    letter-spacing:0.1rem;
    font-weight:600;
    color:rgb(255, 209, 209);
    transition:all 0.5s ease-in-out;
}

#submit-button:hover {
    cursor:pointer;
    width:11.2rem;
    height:2.7rem;
    font-size:1.2rem;
}