@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color:hsl(174, 22%, 81%);
    width:100%;
}

.container {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0 auto;
    margin-top:10rem;
    background-color:rgb(255, 164, 136);
    width:40rem;
    padding-block:2rem;
    border-radius:1rem;
    box-shadow:0 1rem 2rem 0.2rem hsla(0, 0%, 19%, 0.212);
}

.question_header {
    font-weight:700;
    letter-spacing:0.2rem;
    color:rgb(94, 33, 33);
}

ul {
    list-style:none;
}

.choice {
    font-weight:400;
    font-size:1.2rem;
    color:rgb(255, 116, 92);
    margin-top:2rem;
}

.percent {
    font-size:1.5rem;
    color:rgb(255, 88, 88);
    font-weight:700;
}

a {
    margin-top:2rem;
    text-decoration:none;
    transition:all 0.5s;
    font-weight:700;
    color:rgb(255, 83, 83);
}

a:hover {
    letter-spacing:0.1rem;
    color:rgb(255, 255, 255);
    font-size:1.1rem;
}